<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netHttpBinding>
                <binding name="streamedNetHttpBinding" transferMode="Streamed" />
            </netHttpBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="UniSyncServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="UniSyncServiceBehavior" name="UniSyncService.UniSyncService">
                <endpoint address="" binding="netHttpBinding" bindingConfiguration="streamedNetHttpBinding"
                    contract="UniSyncService.IUniSyncService" />
                <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
                    contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost/unisync" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>